/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {

	background-color: #222;
	padding: 19px 0;
	overflow: hidden;

	@include min-screen(992px) {
		overflow: visible;
	}

	.bg-faded {
		background-color: transparent;
	}

	.navbar-brand {
		padding: 0;

		 img {
			 display: block;
		 }

		@include max-screen(370px) {
			width: 150px;
		}
	}

	.navbar-toggler {
		padding-top: 0;

		&:focus {
			outline: none;
		}
	}

	.icon-hamburger {
		color: #ecdec3;
		width: 30px;
		height: 30px;
	}
}

	.navbar-toggler-right {
		top: 5px;

		@include max-screen(420px) {
			right: -5px;
		}
	}

	.nav-item {
		position: relative;
	}

	.nav-item--dropdown-icon {
		display: inline-block;
		vertical-align: middle;
		margin-left: -10px;
		cursor: pointer;
		float: right;
		padding: 10px;
		color: #ecdec3;

		@include min-screen(992px) {
			padding: 5px;
			float: none;
		}
	}
	
	.main-nav {
		
		li {
			display: inline-block;
			margin-left: 25px;
		}
	}
	
.navbar-expand-lg {
	
	@include min-screen(992px) {
		
		.navbar-collapse  {
			justify-content: flex-end;
		}
	}
}

.navbar {
	padding: 0;
	
	.navbar-toggler {
		border: none;
	}

	.dropdown-menu {
		left: auto;
		right: 0;

		@include min-screen(992px) {
			.nav-link {
				color: #222 !important;
				text-align: right;
				padding-left: 25px;
				padding-right: 25px;

				&:hover {
					color: lighten(#222, 50%) !important
				}
			}
		}
	}
	
	@include max-screen(991px) {
		
		.dropdown-menu {
			background-color: transparent;
			border: none;
			
			a {
				color: rgba(255, 255, 255, 0.5);
				
				&:hover {
					color: white;
					background-color: transparent;
				}
			}
		}
	}
} 

.navbar-nav {
	
	@include max-screen(991px) {
		padding-top: 20px;
		align-items: flex-end;

		.dropdown-menu,
		.nav-item {
			text-align: right;
		}
	}
}
