{% import "macros/macro.all.html" as allMacros %}


<div class="faq-form">
    <div class="container container--small">
        <a class="btn-close">Close x</a>
        <p>Have any question? Let us know how we can help.</p>
        <form>
            <input class="input" type="email" placeholder="Your email address"></input>
            <textarea class="input--textarea" placeholder="How can we help you?"></textarea>
            <button class="btn btn--primary" type="submit">send</button>
        </form>
    </div>
</div>
    

