{% import "macros/macro.all.html" as allMacros %}

<footer class="footer-main">

    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <a class="logo underline">
                            <img src="assets/img/logo.png">
                        </a>
                        <div class="social-icons">
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div><!-- end of .social-icons -->
                    </div>

                    <div class="col-lg-8">
                        <ul class="footer-main__nav">
                            <li>
                                <a href="group.html">about</a>
                            </li>
                            <li class="footer-link-separator">|</li>
                            <li>
                                <a href="companies.html">companies</a>
                            </li>
                            <li class="footer-link-separator">|</li>
                            <li>
                                <a href="investor.html">investor groups</a>
                            </li>
                        </ul>

                        <ul class="footer-main__nav">
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li class="footer-link-separator">|</li>
                            <li>
                                <a href="blog.html">blog</a>
                            </li>
                            <li class="footer-link-separator">|</li>
                            <li>
                                <a href="log-in.html">log in</a>
                            </li>
                            <li class="footer-link-separator">|</li>
                            <li>
                                <a href="register.html">register</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="line"></div><!-- end of .line -->

                <small class="second-text-color text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
            </div>
            <div class="col-lg-4">
                <h2 class="h3 type-uppercase">Raising money?</h2>
                <p class="second-text-color type-small">Raise investment, engage with your community and grow your business in a more efficient, streamlined way.</p>
                <a class="btn btn--primary btn--medium mb-3">Start raising</a>
                <a href="" class="second-text-color type-small text-center block learn-more">or Learn more</a>
            </div>
        </div>

    </div>
    <a href="" class="faq-button">{{ allMacros.icon('faq-icon') }}</a>
    <a href="" id="to_the_top" class="is-invisible">{{ allMacros.icon('arrow-up') }}</a>
</footer>
    
