{% import "macros/macro.all.html" as allMacros %}


<header class="header-main fixed-top">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="homepage.html"><img src="assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li {% if about %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="about.html">about</a>
                    
                </li>

                <li {% if companies %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="companies.html">companies</a>
                </li>
                <li {% if investor %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                  <a class="nav-link" href="investor.html">investor groups</a>
                </li>
                <li {% if blog %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                  <a class="nav-link" href="blog.html">blog</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    education
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="faq.html">faq</a>
                    <a class="nav-link" href="faq2.html">pricing</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    user
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="login.html">log in</a>
                    <a class="nav-link" href="register.html">register</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </div><!-- end of .container -->

</header>
    

