{% import "macros/macro.all.html" as allMacros %}


<header class="header-main fixed-top">

    <div class="container">

        <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            {{ allMacros.icon('hamburger-icon', 'icon-hamburger') }}
            </button>
            <a class="btn btn--primary btn--invest">Invest</a>
            <a href="homepage.html" class="logo navbar-brand underline">
            <img src="assets/img/logo.png">
            </a>
            <div class="collapse navbar-collapse flex-justify--end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="homepage.html#investment-opportunities">companies <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="homepage.html#scroll-space">investor groups</a>
                </li>
                <li class="nav-item nav-item--dropdown">
                <a class="nav-link" href="how-it-works.html">education</a>
                <span class="nav-item--dropdown-icon">&#x25BC;</span>
                <ul class="dropdown">
                    <li>
                    <a class="nav-link" href="faq.html">faq</a>
                    </li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="blog.html">blog</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="log-in.html">log in</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="register.html">register</a>
                </li>

            </ul>
            </div>
        </nav> -->

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li {% if group %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="group.html">about</a>
                    
                </li>

                <li {% if companies %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="companies.html">companies</a>
                </li>
                <li {% if investor %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                  <a class="nav-link" href="investor.html">investor groups</a>
                </li>
                <li {% if blog %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                  <a class="nav-link" href="blog.html">blog</a>
                </li>
                <li {% if login %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="log-in.html">log in</a>
                </li>
                <li {% if register %}class="nav-item active"{% else %} class="nav-item"{% endif %}>
                    <a class="nav-link" href="register.html">register</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    education
                  </a>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="faq.html">faq</a>
                    <a class="nav-link" href="faq2.html">pricing</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </div><!-- end of .container -->

</header>
    

