<div class="social-boxes">
	<a href="" class="social-boxes__item social-boxes__item--twitter">
        {{ allMacros.icon('twitter') }}
		<span>Share</span>
	</a>
	<a href="" class="social-boxes__item social-boxes__item--facebook">
        {{ allMacros.icon('facebook') }}
		<span>Share</span>
	</a>
	<a href="" class="social-boxes__item social-boxes__item--linkedin">
        {{ allMacros.icon('linkedin') }}
		<span>Share</span>
	</a>
	<a href="" class="social-boxes__item social-boxes__item--instagram">
        {{ allMacros.icon('instagram') }}
		<span>Share</span>
	</a>
</div>