{% extends "layouts/default.html" %}

{% set blogInner = true %}
{% set pagetitle = "Blog--inner" %}
{% set bodyClass = "blog--inner" %}

{% block content %}
{% include "./components/header.html" -%}

<main>

    <section class="subheader--faq">
        <div class="container">
            <h1 class="type-uppercase">Blog</h1>
        </div><!-- end of .container -->
    </section>

    <section class="blog-main">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <div class="blog-main__content">
                        <h2 class="underline">Founder series: Interview with Martha Hernandez, founder of madeBOS</h2>
                        <div class="mb-3">
                            <time class="style-italic">May 16, 2017</time>
                        </div><!-- end of .wrap -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                        <h3 class="h4 type-uppercase mb-3">What inspired you to build madeBOS?</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, </p>

                        <div class="img-wrap">
                            <img src="assets/img/blog-pic.jpg">
                        </div><!-- end of .img-wrap -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h3 class="h4 type-uppercase mb-3">What inspired you to build madeBOS?</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                    </div><!-- end of .content -->
                    <div class="line line--lighter"></div><!-- end of .line -->


                    <div class="blog-author">
                        <div class="flag flag--small">
                            <div class="flag__img">
                                <img src="assets/img/girl-pic.png" alt="" />
                            </div>
                            <div class="flag__body">
                                <h4 class="h5">Caroline Hofmann</h4>
                                <span>Techcrowd</span>
                            </div>
                        </div>
                    </div><!-- end of .blog-author -->

                    <div class="line line--lighter"></div><!-- end of .line -->

                    {% include "./components/social-boxes.html" -%}

                    <div class="blog-comments">

                        <h3>Comments</h3>
                        <div class="blog-comments__wrap">
                            <div class="flag flag--small">
                                <div class="flag__img">
                                    <img src="assets/img/girl-pic.png" alt="" />
                                </div>
                                <div class="flag__body">
                                    <textarea class="input--textarea" placeholder="Your comment"></textarea>
                                </div>
                            </div>
                        </div><!-- end of .blog-comments__wrap -->
                        <div class="blog-comments__btn-wrap text-right">
                            <button class="btn btn--primary btn--small">post</button>
                        </div>

                    </div><!-- end of .blog-comments -->

                </div>

                <div class="col-lg-4">
                    <aside class="blog-main__inner">

                        <div class="aside-links">
                            <div class="input-wrap">
                                <input type="text" class="input" placeholder="Search" />
                            </div><!-- end of .input-wrap -->
                            <h3 class="h4 type-uppercase underline underline--yellow">Categories</h3>
                            <ul>
                                <li><a href="">Latest</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Investors</a></li>
                                <li><a href="">Entrepreneurs</a></li>
                            </ul>

                            <h3 class="h4 type-uppercase underline underline--yellow">archiv</h3>
                            <ul>
                                <li><a href="">May 2017</a></li>
                                <li><a href="">April 2017</a></li>
                                <li><a href="">March 2017</a></li>
                                <li><a href="">February 2017</a></li>
                                <li><a href="">January 2017</a></li>
                            </ul>
                        </div><!-- end of .aside-links -->

                        <div class="aside-subscribe">
                            <h2 class="type-uppercase underline text-center">Get access to the newest companies</h2>
                            <p>Be the first to receive investment opportunities, straight to your inbox</p>
                            <form>
                                <input class="input" placeholder="Your email address">
                                <button class="btn btn--primary">Subscribe</button>
                            </form>
                            <small class="type-small">We will send you weekly updates on techcrowd companies.</small>
                        </div><!-- end of .aside-subscribe -->

                    </aside>
                </div>

            </div><!-- end of .row -->
        </div>

    </section>

</main>

{% include "./components/footer.html" -%}

{% endblock %}
