{% extends "layouts/default.html" %}

{% set title = "FAQ" %}
{% set page = "faq" %}


{% block content %}
{% include "./components/header.html" -%}

<main>

    <section class="subheader--faq">

        <div class="container">
            <h1 class="type-uppercase">help &amp; faq</h1>
        </div>

    </section>

    <section class="faq-main">

        <div class="container">

            <div class="row">

                <div class="col-lg-4">

                    <aside>
                        <div class="faq-main__nav">
                            <ul>
                                <li><a href="faq.html">Investing on Techcrowd</a></li>
                                <li class="active"><a href="faq2.html">Fundraising on Techcrowd</a></li>
                            </ul>
                        </div>
                        <ul class="faq-main__links">
                            <li><a href="">Can companies based outside the United States raise money on Techcrowd?</a></li>
                            <li><a href="">What fees does Techcrowd charge?</a></li>
                            <li><a href="">Is there a limit on how much my company can raise?</a></li>
                            <li><a href="">Are there any restrictions on incorporation type for companies fundraising?</a></li>
                            <li><a href="">My campaign successfully closed, when do I get my funds?</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-8">

                    <div class="faq-main__text">
                        <h2 class="underline">Can companies based outside the United States raise money on Techcrowd?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                    </div>
                    <div class="faq-main__text">
                        <h2 class="underline">What fees does Techcrowd charge?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                    </div>
                    <div class="faq-main__text">
                        <h2 class="underline">Is there a limit on how much my company can raise?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                    </div>
                    <div class="faq-main__text">
                        <h2 class="underline">Are there any restrictions on incorporation type for companies fundraising?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                    </div>
                    <div class="faq-main__text">
                        <h2 class="underline">My campaign successfully closed, when do I get my funds?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore... </p>
                    </div>
                </div>

            </div>

        </div>

    </section>

</main>
{% include "./components/footer.html" -%}

{% endblock %}
