{% extends "layouts/default.html" %}

{% set homepage = true %}
{% set pagetitle = "Homepage" %}
{% set bodyClass = "homepage" %}

{% block content %}
{% include "./components/header.html" -%}

<main>
    <section class="subheader subheader--home">
        <div class="container">
            <div class="log-reg-box">
                <h1 class="underline type-uppercase type-light">Invest in <br /> Startups</h1>
                <p>We're on a mission to make it simple for anyone to invest in businesses, many of which have the support of top accelerators, corporates and brands.</p>
                <a href="log-in.html" class="btn btn--primary btn--yellow">Become an investor</a>
                <a href="" class="btn btn--primary block">How it works</a>
            </div><!-- end of .log-reg-box -->
        </div>
    </section>

    <section class="investment" id="investment">

        <div id="investment-opportunities" class="scroll-helper-box"></div>
        <div class="container">
            <h2 class="type-uppercase text-center">Investment opportunities</h2>

            <div class="row gutter-30">
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '75') }}
    
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '65') }}
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '55') }}
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '41') }}
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '89') }}
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ allMacros.investmentBox('investment-pic', 'FlipWord', 'A unique way of teaching language by integrating learning into everyday activities​', 'United States of America', '13') }}
                </div>
            </div>

            <p class="text-right view-all"><a href="companies.html">View all funded companies</a></p>

        </div>
    </section>

    <section class="investor-groups" id="investor-groups">

        <div id="scroll-space" class="scroll-helper-box"></div>
        <div class="container">

            <h2 class="type-uppercase text-center">Investor Groups</h2>
            <div class="row gutter-30">
                <div class="col-md-6">
                    {{ allMacros.investorGroupsBox('', 'circle.png', 'Development', '150 Members', "Since 2010, we've featured 275+ startups that later raised more than $260 million in venture capital.") }}
                </div>
                <div class="col-md-6">
                    {{ allMacros.investorGroupsBox('', 'circle.png', 'Development', '150 Members', "Since 2010, we've featured 275+ startups that later raised more than $260 million in venture capital.") }}
                </div>
                <div class="col-md-6">
                    {{ allMacros.investorGroupsBox('', 'circle.png', 'Development', '150 Members', "Since 2010, we've featured 275+ startups that later raised more than $260 million in venture capital.") }}
                </div>
                <div class="col-md-6">
                    {{ allMacros.investorGroupsBox('', 'circle.png', 'Development', '150 Members', "Since 2010, we've featured 275+ startups that later raised more than $260 million in venture capital.") }}
                </div>
            </div>
            <p class="text-right view-all"><a href="companies.html">View all funded companies</a></p>
        </div>
    </section>

    <section class="join">
        <div class="container">
            <div class="text-wrap">
                <h2 class="h1 underline underline--white underline--center type-uppercase">Join techcrowd</h2>
                <p>Access a world of dynamic investment opportunities, buy into businesses you believe in and share in their success.</p>
                <a class="btn btn--primary center">become an investor</a>
            </div><!-- end of .text-wrap -->
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row gutter-30">
                <div class="col-xl-3 col-md-6 text-center">
                    <div class="circle">
                        <img src="assets/img/circle-img1.png">
                        <span>step 1</span>
                        <p>Create a free investor profile on Techcrowd</p>
                    </div><!-- end of .circle -->
                </div>
                <div class="col-xl-3 col-md-6 text-center">
                    <div class="circle">
                        <img src="assets/img/circle-img2.png">
                        <span>step 2</span>
                        <p>Browse companies raising on Techcrowd</p>
                    </div><!-- end of .circle -->
                </div>
                <div class="col-xl-3 col-md-6 text-center">
                    <div class="circle">
                        <img src="assets/img/circle-img3.png">
                        <span>step 3</span>
                        <p>Invest in companies you believe in</p>
                    </div><!-- end of .circle -->
                </div>
                <div class="col-xl-3 col-md-6 text-center">
                    <div class="circle">
                        <img src="assets/img/circle-img4.png">
                        <span>step 4</span>
                        <p>Tell your friends and help the companies you invest in</p>
                    </div><!-- end of .circle -->
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe">
        <div class="container">
            <div class="text-center">
                <h2 class="underline underline--center type-uppercase">Get access to the newest companies</h2>
                <p>Be the first to receive investment opportunities, straight to your inbox</p>
                <div class="form-wrap text-center">
                    <input class="input" type="email" placeholder="Your email address">
                    <a href="" class="btn btn--primary">Subscribe</a>
                </div><!-- end of .form-wrap -->
                <p class="second-text-color type-small">We will send you weekly updates on Republic companies.</p>
            </div>
        </div>
    </section>
 
</main>

{% include "./components/footer.html" -%}

{% endblock %}
