{% extends "layouts/default.html" %}

{% set title = "FAQ" %}
{% set page = "faq" %}


{% block content %}
{% include "./components/header.html" -%}

<main>

    <section class="login-wrap">
        <div class="container">
            <div class="login-form">
                <h1>Sign up</h1>
               
                {{ allMacros.social() }}

                <h2>or</h2>

                <form>
                    <div class="row gutter-30">
                        <div class="col-lg-6">
                            <input class="input" type="text" placeholder="First name">
                        </div>
                        <div class="col-lg-6">
                            <input class="input" type="text" placeholder="Last name">
                        </div>
                        <div class="col-lg-12">
                            <input class="input" type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input class="input" type="password" placeholder="Password">
                        </div>
                        <div class="col-lg-12">
                            <input class="input" type="password" placeholder="Password confirmation">
                        </div>
                    </div>
                    <button class="btn btn--primary" type="submit">sign up</button>
                </form>
                <span>Already have an account? <a href="">Log in</a></span>
                <a class="logo text-right block"><img src="assets/img/logo.png"></a>
            </div>
        </div>
    </section>

</main>
{% include "./components/footer.html" -%}

{% endblock %}
