{% extends "layouts/default.html" %}

{% set resetPassword = true %}
{% set pagetitle = "Reset password" %}
{% set bodyClass = "reset-password" %}

{% block content %}
{% include "./components/header.html" -%}

<main>

    <section class="login-wrap">
        <div class="container">
            <div class="login-form">
                <h1>Reset Password</h1>

                <form>
                    <div class="row gutter-30">
                        <div class="col-lg-12">
                            <input class="input" type="password" placeholder="Old password">
                        </div>
                        <div class="col-lg-12">
                            <input class="input" type="password" placeholder="New password">
                        </div>
                        <div class="col-lg-12">
                            <input class="input" type="password" placeholder="Repeat new password">
                        </div>
                    </div>
                    <button class="btn btn--primary" type="submit">Reset</button>
                </form>
                <span>Don't have an account yet? <a href="login.html">Login</a></span>
                <a class="logo text-right block"><img src="assets/img/logo.png"></a>
            </div>
        </div>
    </section>

</main>

{% include "./components/footer.html" -%}

{% endblock %}
